<section class="channel-info-section">
    <header>
        <div class="cover"></div>
        <div class="info">
            <h1>The AMP Channel</h1>
            <div class="subscribte-area">
                <button type="button" class="btn-sub">Subscribed</button>
                <button type="button" class="btn-alarm">알람</button>
                <button type="button" class="btn-count"><span class="blind">현재 구독자수</span>1,830</button>
            </div>
        </div>
        <nav class="nav-channels">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="channel-contents">
        <div class="contents">
            <section>
                <h2>What to watch next</h2>
                <ul class="video-list">
                    <li class="video-main">
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </section>
            <section>
                <h2>What to watch next</h2>
                <ul class="video-list">
                    <li class="video-main">
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </section>
            <section>
                <h2>What to watch next</h2>
                <ul class="video-list">
                    <li class="video-main">
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </section>
            <section>
                <h2>What to watch next</h2>
                <ul class="video-list">
                    <li class="video-main">
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </section>
            <section>
                <h2>What to watch next</h2>
                <ul class="video-list">
                    <li class="video-main">
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#">
                                <img src="" alt="">
                            </a>
                        </div>
                        <dl>
                            <dt>
                                <a href="#">AMP Ads: Better Advertising on a Faster Web (Google I/O `17)</a>
                            </dt>
                            <dd>
                                <a href="#">by The AMP Channel</a> 
                                <span class="count">1821 views</span>
                                <time datetime="2017-05-21">2 weeks ago</time>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </section>
        </div>
        <aside class="related-channel"></aside>
    </div>
</section>